.row-container {
    display: flex;
    margin-top: 1em;
}

.section {
    border-bottom: 1px solid black;
    padding: 15px 0;
   

}
.section:last-child {
    border-bottom: 1px solid transparent;
 }

.enter-task {
    margin-top: 15px;
}

.task-list-row {
    height: 2.4em;
    border: 2px solid gray;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.div-icon {
    margin-left: 1em;
}