body {
    /* background-color: #cdbecf; */
    background-image: url('/images/black-1072366_1280.webp');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    box-shadow: 3px 3px 20px 0px black;
}


.main-content {
    padding: 25px;
}

.center-text{
    padding-top: 10px;
     font-weight: bold;
}
.task-input {
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    height: 2.4em;
    padding: 0.5em;
    margin-right: 1%;
    width: 35%
}

.priority-dropdown {
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2.4em;
    color: #ffffff;
    margin-right: 1%;
    width: 10%
}
.priority-dropdown > option{
    background-color: gray;

}
.task-date {
    border: 2px solid #cccccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2.4em;
    color: #ffffff;
    margin-right: 1%;
    width: 15%
}

.popup-header {
    margin: 0.25em;
    font-weight: bold;
    text-align: center;
}

.popup-text {
    padding: 1em;
    margin: 0.25em;
}